torch>=1.11
transformers==4.36.2
optimum[openvino]
ultralytics
torchvision
sentence-transformers
pydub
latex-ocr @ git+https://github.com/lukas-blecher/LaTeX-OCR.git
pytesseract
# Add any other packages you use below

